<div class="pdf">
    <h1>Generuj PDF</h1>

    <form>
        <label for="numer-reklamacji">Numer reklamacji:</label>
        <input type="text" id="numer-reklamacji" name="numer-reklamacji">
        <button type="submit">Generuj</button>
    </form>
</div>
