@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-controller="Complaint" asp-action="Index" method="get">
    <button type="submit">Formularz zgłoszeniowy</button>
</form>

<form asp-controller="Warranty" asp-action="CheckWarranty" method="post">
    @if (ViewData["ShowSerialNumberInput"] as bool? ?? true)
    {
        <label for="serialNumber">Numer seryjny:</label>
        <input type="text" name="serialNumber" required />
        <button type="submit">Sprawdź gwarancję</button>
    }
    else
    {
        <p>@ViewData["WarrantyStatusMessage"]</p>
    }
</form>
