@model ComplaintModel

<h2>Formularz Zgłoszeniowy</h2>

<form asp-controller="Complaint" asp-action="SubmitComplaint" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="FirstName" class="col-sm-2 control-label">Imię:</label>
        <div class="col-sm-10">
            <input asp-for="FirstName" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="LastName" class="col-sm-2 control-label">Nazwisko:</label>
        <div class="col-sm-10">
            <input asp-for="LastName" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Street" class="col-sm-2 control-label">Ulica:</label>
        <div class="col-sm-10">
            <input asp-for="Street" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="HouseNumber" class="col-sm-2 control-label">Numer domu/mieszkania:</label>
        <div class="col-sm-10">
            <input asp-for="HouseNumber" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="PostalCode" class="col-sm-2 control-label">Kod pocztowy:</label>
        <div class="col-sm-10">
            <input asp-for="PostalCode" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="City" class="col-sm-2 control-label">Miejscowość:</label>
        <div class="col-sm-10">
            <input asp-for="City" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Phone" class="col-sm-2 control-label">Telefon:</label>
        <div class="col-sm-10">
            <input asp-for="Phone" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" type="email" required />
        </div>
    </div>

    <div class="form-group">
        <label for="SerialNumber" class="col-sm-2 control-label">Numer seryjny:</label>
        <div class="col-sm-10">
            <input asp-for="SerialNumber" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="PurchaseDate" class="col-sm-2 control-label">Data zakupu:</label>
        <div class="col-sm-10">
            <input asp-for="PurchaseDate" class="form-control" type="date" required />
        </div>
    </div>

    <div class="form-group">
        <label for="IssueDescription" class="col-sm-2 control-label">Opis usterki:</label>
        <div class="col-sm-10">
            <textarea asp-for="IssueDescription" class="form-control" required></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Zgłoś reklamację</button>
        </div>
    </div>
</form>
