<div class="stats">
    <h1>Statystyki reklamacji</h1>
    <div>
        <p>Liczba reklamacji w stanie Nowy: @ViewData["NewCount"]</p>
        <p>Liczba reklamacji w trakcie: @ViewData["InProgressCount"]</p>
        <p>Liczba zakończonych reklamacji: @ViewData["CompletedCount"]</p>
        <p>Suma wszystkich reklamacji: @ViewData["TotalComplaints"]</p>
    </div>
</div>
