body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    max-height: 100vh;
    overflow-x: hidden;
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding: 0;
}

.przestrzen {
    padding: 0 30% 0 30%;
}

.logo {
    padding: 0 50px;
    font-size: 24px;
    color: #f73600;
    font-weight: 600;
}

.logowanie {
    cursor: pointer;
    padding: 0 50px;
    font-size: 14px;
    color: #f73600;
}

.kafelki {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0 50px 0;
    font-size: 23px;
}

.square1 {
    position: relative;
    width: 260px;
    height: 320px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.square {
    position: relative;
    width: 260px;
    height: 320px;
    background-color: #ffffff;
    margin: 0 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 15px;
}

    .square:hover {
        border: 2px solid #f73600;
    }

.square1:hover {
    border: 2px solid #f73600;
}

.txt {
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 60px;
}

.footer {
    margin-top: 50px;
    background-color: #e7e6e6;
    height: 50px;
    color: white;
    border-bottom: 2px solid #f73600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    max-width: 100%;
}


.ikonki {
    margin-top: 95px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

    .form input {
        margin-bottom: 10px;
        padding: 5px;
        width: 200px;
        text-align: center;
        font-size: 15px;
    }

    .form button {
        padding: 5px;
        background-color: #333;
        font-size: 18px;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

        .form button:hover {
            background-color: #f73600;
        }

.stats {
    margin: 100px 0 0 500px;
}

.przyciski {
    margin-bottom: 20px;
}

.przycisk {
    background-color: #333;
    border: none;
    color: white;
    padding: 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

    .przycisk:hover {
        background-color: #f73600;
        color: white;
    }

.pdf {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf button {
        background-color: #333; 
        color: white;
        padding: 10px 10px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer;
}

    .pdf button:hover {
        background-color: #f73600;
    }

row-edit {
    margin-left: 30px;
}

a {
    text-decoration: none;
}
