﻿@{
    ViewData["Title"] = "Home Page";
}
  <style>
    body {
        padding: 0;
        margin: 0;
        font-family: Arial, sans-serif;
        max-height: 100vh;
        text-decoration: none;
    }

    .logo {
        padding: 0 50px;
        font-size: 24px;
        color: #f73600;
        font-weight: 600;
    }

    .logowanie {
        cursor: pointer;
        padding: 0 50px;
        font-size: 14px;
        color: #f73600;
    }

    .kafelki {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 100px 0 50px 0;
        font-size: 23px;
    }

    .square1 {
        position: relative;
        width: 260px;
        height: 320px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 15px;
        text-decoration: none;
        color: black;
    }

    .square {
        position: relative;
        width: 260px;
        height: 320px;
        background-color: #ffffff;
        margin: 0 0 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 15px;
    }

        .square:hover {
            border: 2px solid #f73600;
        }

    .square1:hover {
        border: 2px solid #f73600;
    }

    .txt {
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding-top: 60px;
    }

    .footer {
        margin-top: 6%;
        background-color: #e7e6e6;
        height: 50px;
        color: white;
        border-bottom: 2px solid #f73600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100%;
    }

    .ikonki {
        margin-top: 95px;
    }

    .formstyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

        .formstyle input {
            margin-bottom: 10px;
            padding: 5px;
            width: 200px;
            text-align: center; 
            font-size: 15px;
        }

        .formstyle button {
            padding: 5px;
            background-color: #f73600;
            font-size: 18px;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

            .formstyle button:hover {
                background-color: #45a049;
            }
  </style>

  <div class="kafelki">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Complaint">
      <div class="square1">
        <svg viewBox="0 0 384 512" width="30" title="clipboard">
          <path d="M384 112v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h80c0-35.29 28.71-64 64-64s64 28.71 64 64h80c26.51 0 48 21.49 48 48zM192 40c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24m96 114v-20a6 6 0 0 0-6-6H102a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h180a6 6 0 0 0 6-6z" />
        </svg>
        <div class="txt">
          Złóż reklamację
        </div>
      </div>
    </a>

    <div class="square">
      <div class="ikonki">
        <svg viewBox="0 0 512 512" width="30" title="search-plus">
          <path d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" />
        </svg>
      </div>
      <div class="txt">
        Sprawdź status
      </div>
      <div class="formstyle">
        <input type="text" id="pole-tekstowe-status" name="pole-tekstowe-status" placeholder="Wpisz numer reklamacji">
        <button onclick="sprawdzStatus()">Sprawdź</button>
      </div>
    </div>

    <div class="square">
      <div class="ikonki">
        <svg viewBox="0 0 512 512" width="30" title="search-minus">
          <path d="M304 192v32c0 6.6-5.4 12-12 12H124c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z" />
        </svg>
      </div>
        <div class="txt" onclick="sprawdzGwarancje()">
            Sprawdź gwarancję
        </div>
        <div class="formstyle">
            <form asp-controller="Warranty" asp-action="CheckWarranty" method="post">
                @if (ViewData["ShowSerialNumberInput"] as bool? ?? true)
                {
                    <input type="text" name="serialNumber" required placeholder="Wpisz numer seryjny" />
                    <button type="submit">Sprawdź gwarancję</button>
                }
                else
                {
                    <p>@ViewData["WarrantyStatusMessage"]</p>
                }
            </form>
        </div>
    </div>
  </div>

  <div class="info">
    <br> 1. Sprawdź Gwarancję
    <br> 2. Uzupełnij formularz zgłoszeniowy
    <br> 3. Oczekuj na dalsze instrukcje
    <br> 4. Sprawdź status reklamacji
  </div>

  <div class="footer">
    © 2024 - RefundWebApplication - Privacy
    Kontakt: tel: 331 321 321 mail: serwis@serwis.pl
  </div>

  <script>
    function pokazPoleTekstowe(id) {
      // Pobierz element o konkretnym id
      var poleTekstowe = document.getElementById(id);

      // Pokaż pole tekstowe, zmieniając styl na "display: block"
      poleTekstowe.style.display = "block";
    }

    function sprawdzStatus() {
      // Tutaj możesz dodać kod, który obsłuży sprawdzanie statusu reklamacji
      var numerReklamacji = document.getElementById("pole-tekstowe-status").value;
      alert("Sprawdzanie statusu reklamacji dla numeru: " + numerReklamacji);
    }

    function sprawdzGwarancje() {
        // Pobierz numer seryjny z pola tekstowego
        var numerSeryjny = document.getElementById("pole-tekstowe-gwarancja").value;
        alert("Sprawdzanie gwarancji dla numeru seryjnego: " + numerSeryjny);
    }
  </script>

